[submodule "themes/robust"]
	path = themes/robust
	url = https://github.com/dim0627/hugo_theme_robust.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/digitalcraftsman/hugo-icarus-theme.git
[submodule "themes/future-imperfect"]
	path = themes/future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
